#root {
  display: flex;
  height: 100vh;
}

.paginationOpts__root {
  min-width: 150px !important;
}

.table td,
.table th {
  white-space: wrap;
}

.Asn-card {
  transition: 0.3s;
}

.Asn-card:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px #707070;
  transform: scale(1.02);
}

.hQSxZz {
  margin: 5px 15px !important;
}

.portTile {
  width: 60px;
  height: 60px;
  max-width: 60px;
  color: white;
  padding: 2px;
  background-color: #2196f3;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 1px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.479);
}

.portTile:hover {
  transform: scale(1.5);
  background-color: #2195f363;
}

.logo {
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.logo:hover {
  background-color: #111;
}

.sc-cfxfcM {
  background-color: transparent;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 30px;
}

.sc-cfxfcM:hover {
  background-color: #182230;
  border: 1px solid #eeeeee80;
  transform: scale(1.05);
}

.categorybtn>li {
  background-color: transparent;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 30px;
}

.categorybtn:hover>li,
.active-category>li {
  background-color: #182230;
  border: 1px solid #eeeeee80;
  transform: scale(1.05);
}

.recharts-xAxis>g {
  display: none;
}