#root {
  display: flex;
  height: 100vh;
}

.paginationOpts__root {
  min-width: 150px !important;
}

.table td,
.table th {
  white-space: wrap;
}

.Asn-card {
  transition: 0.3s;
}

.Asn-card:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px #707070;
  transform: scale(1.02);
}

.hQSxZz {
  margin: 5px 15px!important;
}